Test/StarTrinity.FaceRecognition.SL.Sample.Web/Service References/FaceRecognitionServiceReference/FaceRecognitionService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="VerifyAppIdAndGetToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyAppIdAndGetTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyAppIdAndGetTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitFaceForTraining">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="face" type="tns:FacesForTraining" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FacesForTraining">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Face" type="s:base64Binary" />
              <s:element minOccurs="1" maxOccurs="1" name="FaceWidth" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SnapshotJpeg" type="s:base64Binary" />
              <s:element minOccurs="0" maxOccurs="1" name="ClientIpAddress" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SequenceOrder" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LatestInSession" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="DateTimeUtc" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Processed" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SubmittedWhenRegistering" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsVerified" nillable="true" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UseForTrainingInTest" nillable="true" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UseForEvaluationInTest" nillable="true" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitFaceForTrainingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="percentage" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isReadyForLogin" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="messageForUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="faceClassifiersXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="requiresServerSideRecognition" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteLoginData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteLoginDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLoggedInUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoggedInUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoggedInUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Recognize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jpegData" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="sequenceOrder" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecognizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="confidence" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerifyAppIdAndGetTokenSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyAppIdAndGetToken" />
  </wsdl:message>
  <wsdl:message name="VerifyAppIdAndGetTokenSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyAppIdAndGetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitFaceForTrainingSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitFaceForTraining" />
  </wsdl:message>
  <wsdl:message name="SubmitFaceForTrainingSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitFaceForTrainingResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginData" />
  </wsdl:message>
  <wsdl:message name="GetLoginDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginDataResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteLoginDataSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteLoginData" />
  </wsdl:message>
  <wsdl:message name="DeleteLoginDataSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteLoginDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoggedInUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoggedInUser" />
  </wsdl:message>
  <wsdl:message name="GetLoggedInUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoggedInUserResponse" />
  </wsdl:message>
  <wsdl:message name="RecognizeSoapIn">
    <wsdl:part name="parameters" element="tns:Recognize" />
  </wsdl:message>
  <wsdl:message name="RecognizeSoapOut">
    <wsdl:part name="parameters" element="tns:RecognizeResponse" />
  </wsdl:message>
  <wsdl:portType name="FaceRecognitionServiceSoap">
    <wsdl:operation name="VerifyAppIdAndGetToken">
      <wsdl:input message="tns:VerifyAppIdAndGetTokenSoapIn" />
      <wsdl:output message="tns:VerifyAppIdAndGetTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFaceForTraining">
      <wsdl:input message="tns:SubmitFaceForTrainingSoapIn" />
      <wsdl:output message="tns:SubmitFaceForTrainingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginData">
      <wsdl:input message="tns:GetLoginDataSoapIn" />
      <wsdl:output message="tns:GetLoginDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLoginData">
      <wsdl:input message="tns:DeleteLoginDataSoapIn" />
      <wsdl:output message="tns:DeleteLoginDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoggedInUser">
      <wsdl:input message="tns:GetLoggedInUserSoapIn" />
      <wsdl:output message="tns:GetLoggedInUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Recognize">
      <wsdl:input message="tns:RecognizeSoapIn" />
      <wsdl:output message="tns:RecognizeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FaceRecognitionServiceSoap" type="tns:FaceRecognitionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyAppIdAndGetToken">
      <soap:operation soapAction="http://tempuri.org/VerifyAppIdAndGetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFaceForTraining">
      <soap:operation soapAction="http://tempuri.org/SubmitFaceForTraining" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginData">
      <soap:operation soapAction="http://tempuri.org/GetLoginData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLoginData">
      <soap:operation soapAction="http://tempuri.org/DeleteLoginData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoggedInUser">
      <soap:operation soapAction="http://tempuri.org/GetLoggedInUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recognize">
      <soap:operation soapAction="http://tempuri.org/Recognize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FaceRecognitionServiceSoap12" type="tns:FaceRecognitionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyAppIdAndGetToken">
      <soap12:operation soapAction="http://tempuri.org/VerifyAppIdAndGetToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFaceForTraining">
      <soap12:operation soapAction="http://tempuri.org/SubmitFaceForTraining" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginData">
      <soap12:operation soapAction="http://tempuri.org/GetLoginData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLoginData">
      <soap12:operation soapAction="http://tempuri.org/DeleteLoginData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoggedInUser">
      <soap12:operation soapAction="http://tempuri.org/GetLoggedInUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recognize">
      <soap12:operation soapAction="http://tempuri.org/Recognize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FaceRecognitionService">
    <wsdl:port name="FaceRecognitionServiceSoap" binding="tns:FaceRecognitionServiceSoap">
      <soap:address location="http://startrinity.com/Services/FaceRecognitionService.asmx" />
    </wsdl:port>
    <wsdl:port name="FaceRecognitionServiceSoap12" binding="tns:FaceRecognitionServiceSoap12">
      <soap12:address location="http://startrinity.com/Services/FaceRecognitionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>